[Unit]
Description=FastAPI E-Commerce API Service (Gunicorn)
After=network.target postgresql.service

[Service]
# User account running the service
User=usman

# Current working directory (adjust paths in production if moved)
WorkingDirectory=/home/usman/Downloads/meer-hamza/backend

# Path to python virtualenv binary folder
Environment="PATH=/home/usman/Downloads/meer-hamza/backend/venv/bin"

# Environment variables source file
EnvironmentFile=/home/usman/Downloads/meer-hamza/backend/.env

# Gunicorn start execution command
ExecStart=/home/usman/Downloads/meer-hamza/backend/venv/bin/gunicorn app.main:app -c gunicorn.conf.py

# Restart policy on server crash or service exit
Restart=always
RestartSec=5

# Standard logs collection target (systemd journald log collector)
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
